* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
hr,
td,
th,
dl,
dd,
ol,
ul,
figure {
  margin: 0;
}
body {
  background-color: #eee;
  color: #707070;
  font-family: sans-serief;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  color: #d95c5c;
  text-decoration: none;
}
a:hover {
  color: #808080;
}
.row {
  width: 90%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
.content pre,
.content .highlight {
  background: #2d2d2d;
  margin: 0 -20px;
  padding: 15px 20px;
  border-style: solid;
  border-color: color-border;
  border-width: 1px 0;
  overflow: auto;
  color: #ccc;
  line-height: 22.400000000000002px;
}
.content .highlight .gutter pre,
.content .gist .gist-file .gist-data .line-numbers {
  color: #666;
  font-size: 0.85em;
}
pre .comment,
pre .preprocessor {
  color: #999;
}
pre .tag {
  color: #ccc;
}
pre .title,
pre .variable,
pre .regexp,
pre .ruby .constant,
pre .xml .tag .title,
pre .xml .pi,
pre .xml .doctype,
pre .html .doctype,
pre .css .id,
pre .css .class,
pre .css .pseudo {
  color: #f2777a;
}
pre .number,
pre .built_in,
pre .literal,
pre .constant {
  color: #c9c;
}
pre .params {
  color: #f99157;
}
pre .class,
pre .ruby .class .title,
pre .css .rules .attribute,
pre .attribute {
  color: #9c9;
}
pre .string,
pre .value,
pre .inheritance,
pre .header,
pre .ruby .symbol,
pre .xml .cdata {
  color: #fc6;
}
pre .css .hexcolor {
  color: #6cc;
}
pre .function,
pre .python .decorator,
pre .python .title,
pre .ruby .function .title,
pre .ruby .title .keyword,
pre .perl .sub,
pre .javascript .title,
pre .coffeescript .title {
  color: #69c;
}
pre .keyword,
pre .javascript .function {
  color: #69c;
}
.content pre,
.content code {
  font-family: "Liberation Mono", monospace;
}
.content code {
  background: #f0f0f0;
  text-shadow: 0 1px #fff;
  font-size: 0.85em;
  padding: 0 0.3em;
  border: 1px solid #dcdcdc;
  border-radius: 3px;
}
.content pre code {
  background: none;
  text-shadow: none;
  padding: 0;
  border: none;
}
.content .highlight pre {
  border: none;
  margin: 0;
  padding: 0;
}
.content .highlight table {
  margin: 0;
  width: auto;
}
.content .highlight td {
  border: none;
  padding: 0;
}
.content .highlight figcaption {
  font-size: 0.85em;
  color: #999;
  line-height: 1em;
  margin-bottom: 1em;
  margin-left: 1em;
  margin-right: 1em;
}
.content .highlight figcaption a {
  float: right;
}
.content .highlight .gutter pre {
  text-align: right;
}
.content .highlight .line {
  height: 22.400000000000002px;
  padding-left: 20px;
}
.content .gist {
  margin: 0 -20px;
  border-style: solid;
  border-color: color-border;
  border-width: 1px 0;
  background: #2d2d2d;
  padding: 15px 20px 15px 0;
}
.content .gist .gist-file {
  border: none;
  font-family: "Liberation Mono", monospace;
  margin: 0;
}
.content .gist .gist-file .gist-data {
  background: none;
  border: none;
}
.content .gist .gist-file .gist-data .line-numbers {
  background: none;
  border: none;
  padding: 0 20px 0 0;
}
.content .gist .gist-file .gist-data .line-data {
  padding: 0 !important;
}
.content .gist .gist-file .highlight {
  margin: 0;
  padding: 0;
  border: none;
}
.content .gist .gist-file .gist-meta {
  background: #2d2d2d;
  color: #999;
  font: 0.85em sans-serief;
  text-shadow: 0 0;
  padding: 0;
  margin-top: 1em;
  margin-left: 20px;
}
.content .gist .gist-file .gist-meta a {
  color: color-link;
  font-weight: normal;
}
.content .gist .gist-file .gist-meta a:hover {
  text-decoration: underline;
}
.box-header {
  background-color: #d95c5c;
}
@media screen and (max-width: 700px) {
  .layout-content {
    margin: 0 auto;
  }
}
.panel-content {
  padding-top: 60px;
}
.panel-title {
  padding-bottom: 20px;
}
.box-content {
  width: 100%;
}
.layout-footer {
  margin-left: 120px;
}
@media screen and (max-width: 700px) {
  .layout-footer {
    margin: 0 auto;
  }
}
.panel-footer {
  margin-top: 10px;
  margin-bottom: 40px;
  border-top: 1px dashed #dcdcdc;
  padding-top: 20px;
}
@media screen and (max-width: 700px) {
  .panel-footer {
    margin-bottom: 80px;
  }
}
.box-footer {
  width: 400px;
  margin: 0 auto;
}
@media screen and (max-width: 700px) {
  .box-footer {
    width: 200px;
  }
}
.layout-logo {
  background-color: #fff;
}
.panel-logo {
  padding-top: 10px;
  padding-bottom: 10px;
}
.box-logo {
  margin: 0 auto;
  width: 200px;
}
.img-logo {
  margin: 0 auto;
  width: 200px;
}
.box-main-title {
  margin: 0 auto;
  width: 280px;
}
.box-sub-title {
  margin: 0 auto;
  width: 120px;
}
.layout-menu {
  color: #fff;
  margin-top: 200;
  position: fixed;
  left: 0;
  top: 200px;
  z-index: 999;
}
@media screen and (max-width: 700px) {
  .layout-menu {
    display: none;
  }
}
.layout-menu-footer {
  color: #fff;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 999;
  width: 100%;
  display: none;
}
@media screen and (max-width: 700px) {
  .layout-menu-footer {
    display: block;
  }
}
.ui.transparent.menu {
  opacity: 0.8;
}
.box-archive-list {
  margin: 0 auto;
  width: 90%;
}
.box-archive-list li {
  margin-top: 20px;
  margin-bottom: 40px;
  border-bottom: 1px solid #dcdcdc;
}
.box-archive-item-date {
  position: relative;
  float: right;
}
.box-archive-item-description {
  padding-top: 30px;
  padding-bottom: 10px;
}
.panel-archive-index-title {
  margin-bottom: 40px;
}
.box-archive-index {
  margin: 0 auto;
  width: 90%;
}
[class*='col-'] {
  float: left;
  padding: 0 5px;
}
[class*='col-'] +:first-child {
  padding: 0 5px 0 0;
}
[class*='col-'] +:last-child {
  padding: 0 0 0 5px;
}
.box-archive-index h3 {
  border-bottom: 1px solid #dcdcdc;
  padding-bottom: 10px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: font-small;
  letter-spacing: 2px;
}
.box-archive-index ul {
  padding-left: 15px;
  line-height: 2;
}
.box-archive-index span {
  font-size: font-small;
  position: relative;
  top: -1px;
  color: color-grey;
}
.box-archive-index span:before {
  content: " - ";
}
.panel-archive-nav {
  margin-top: 20px;
  margin-bottom: 20px;
}
.box-archive-nav {
  width: 160px;
  margin: 0 auto;
}
.panel-post-nav {
  margin-top: 20px;
  margin-bottom: 20px;
}
.box-post-nav {
  width: 160px;
  margin: 0 auto;
}
.box-post-item {
  margin: 0 auto;
  width: 90%;
}
.post-item-content {
  font-family: serief;
}
article p,
article table,
article ol,
article ul,
article iframe,
article dl {
  margin-top: 10px;
  margin-bottom: 10px;
}
article li ol,
article li ul {
  margin-bottom: 0;
}
.content-photo {
  margin-bottom: 40px;
}
.content-meta {
  margin-bottom: 20px;
  padding-bottom: 10px;
  font-size: 10px;
  border-bottom: 1px solid #dcdcdc;
  text-align: right;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.content-meta span.meta-category:before {
  content: "\2022";
}
.box-content-title {
  margin-bottom: 20px;
  font-size: 28px;
  letter-spacing: 1px;
}
.content {
  overflow: hidden;
  border-bottom: 1px solid #dcdcdc;
  padding-bottom: 20px;
  margin-bottom: 10px;
}
.content h1 {
  font-size: 28px;
  letter-spacing: 2px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.content h2 {
  border-bottom: 1px solid #dcdcdc;
  font-size: 24px;
  letter-spacing: 2px;
  padding-top: 20px;
  padding-bottom: 5px;
}
.content h3 {
  font-size: 22px;
  letter-spacing: 2px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.content h4 {
  font-size: 20px;
  letter-spacing: 2px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.content h5 {
  font-size: 18px;
  letter-spacing: 2px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.content h6 {
  font-size: 16px;
  letter-spacing: 2px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.content blockquote {
  font-style: italic;
  font-size: 24px;
  font-family: serief;
  line-height: 1.2;
  text-align: center;
  border: 1px dashed #dcdcdc;
  margin-top: 10px;
  margin-bottom: 10px;
}
.content .pullquote {
  text-align: left;
  width: 45%;
  margin: 0;
}
.content .pullquote.left {
  margin-left: 0.5em;
  margin-right: 1em;
  float: left;
}
.content .pullquote.right {
  margin-right: 0.5em;
  margin-left: 1em;
  float: right;
}
.content-tag {
  font-size: 10px;
  text-align: right;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.content-tag:before {
  content: "Tags: ";
}
.content-nav {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 10px;
  text-align: right;
  margin-top: 60px;
}
.content-nav a {
  color: color-default;
  text-align: right;
}
.content-nav a:hover {
  color: color-link;
}
