
		<div class="panel-content">
			<div class="ui grid box-content">
				<div class="three wide column">
					&nbsp;
				</div>

				<div class="twelve wide column box-archive-index">

					<h2 class="panel-archive-index-title"><%= panel_title %></h2>

					<div class="ui grid ">

						<div class="six wide column">

							<h3>Archives</h3>

							<%- list_archives() %>

						</div>

						<div class="five wide column">

							<h3>Categories</h3>

							<%- list_categories() %>

						</div>

						<div class="five wide column">

							<h3>Tags</h3>

							<%- list_tags() %>

						</div>

					</div>
				</div>



			</div>
		</div>
