// monokai
highlight-background = #272822
highlight-current-line = #3E3D32
highlight-selection = #49483E
highlight-foreground = #F8F8F2
highlight-comment = #75715E
highlight-red = #F92672
highlight-orange = #FD971F
highlight-yellow = #E6DB74
highlight-green = #A6E22E
highlight-aqua = #A1EFE4
highlight-blue = #66D9EF
highlight-purple = #AE81FF
