//// color
color-theme = #6ECFF5
color-sidebar-shadow = #8e927e
color-layout-content-text = #707070
color-layout-content-backgroud = #eee
color-layout-logo-backgroud = white
color-menu-text = white
color-link-hover = grey
color-link-menu-hover = #D4D4D4
