<!DOCTYPE html>
<html lang="zh-Hant-TW">
<head>
<%- partial('_layout/head') %>
</head>

<body>
<%- partial('_layout/header') %>
	<div class="layout-content">
<%- body %>
	</div>
<%- partial('_layout/footer') %>
</body>
</html>
