
.layout-footer
	margin-left: sidebar-width


	//// debug
	//border: 1px solid green
	@media screen and (max-width: trigger-width)
		margin: 0 auto


.panel-footer
	margin-top: 10px
	margin-bottom: 40px
	border-top: border-dashed
	padding-top: 20px
	//// debug
	//border: 1px solid green

	@media screen and (max-width: trigger-width)
		margin-bottom: 80px


.box-footer
	width: 400px
	margin: 0 auto
	//// debug
	//border: 1px solid blue

	@media screen and (max-width: trigger-width)
		width: 200px
