
.layout-logo
	background-color: color-layout-logo-backgroud

.panel-logo
	padding-top: 10px
	padding-bottom: 10px

.box-logo
	margin: 0 auto
	width: 200px

.img-logo
	margin: 0 auto
	width: 200px

.box-main-title
	margin: 0 auto
	width: 280px

.box-sub-title
	margin: 0 auto
	width: 120px

