
.layout-menu
	//// color
	color: color-menu-text
	margin-top:200

	// position
	position: fixed
	left: 0
	top: 200px
	z-index: 999

	//debug
	//border: 1px solid blue

	@media screen and (max-width: trigger-width)
		display: none

.layout-menu-footer
	//// color
	color: color-menu-text

	//// position
	position: fixed
	left: 0
	bottom: 0
	z-index: 999

	//// size
	width: 100%

	//// debug
	//border: 1px solid blue

	//// display
	display: none

	@media screen and (max-width: trigger-width)
		//// display
		display: block



.ui.transparent.menu
	opacity: 0.8


