
.panel-archive-nav
	margin-top: 20px
	margin-bottom: 20px
	//// debug
	//border: 1px solid blue

.box-archive-nav
	width: 160px
	margin: 0 auto


.panel-post-nav
	margin-top: 20px
	margin-bottom: 20px
	//// debug
	//border: 1px solid blue

.box-post-nav
	width: 160px
	margin: 0 auto
