
//// color topic
//color-topic = topic-green
//color-topic = topic-grey
//color-topic = topic-orange
//color-topic = topic-purple
//color-topic = topic-brown
//color-topic = topic-pink
//color-topic = topic-blue
//color-topic = topic-teal
color-topic = topic-red


//// syntax highlight
//syntax-highlight = tomorrow
//syntax-highlight = tomorrow-night
syntax-highlight = tomorrow-night-eighties
//syntax-highlight = tomorrow-night-blue
//syntax-highlight = monokai
