*
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box



body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, td, th, dl, dd, ol, ul, figure
	margin: 0

body
	//// color
	background-color: color-layout-content-backgroud
	color: #707070

	//// font
	font-family: font-default

ul
	margin: 0
	padding: 0
	list-style: none

a
	//color
	color: color-theme
	text-decoration: none

a:hover
	//color
	color: color-link-hover


.row
	width: 90%
	max-width: 1000px
	margin-left: auto
	margin-right: auto

