

//// font
font-serif = serief
font-sans = sans-serief
font-mono = "Liberation Mono", monospace
font-default = font-sans
font-title = font-serif
font-content = font-serif
font-blockquote = font-serif

//// syntax
font-size = 14px
line-height = 1.6em
article-padding = 20px

//// border
border-default = 1px solid #DCDCDC
border-dashed = 1px dashed #DCDCDC

//// sidebar
sidebar-width = 120px
trigger-width = 700px


//// block
block-60 = 60px
block-50 = 50px
block-40 = 40px
block-30 = 30px
block-20 = 20px
block-10 = 10px
block-5 = 5px
