
	<div class="layout-footer" style="clear: both">
		<div class="panel-footer">
			<div class="box-footer">
				<footer class="footer">
					<p class="cr">&copy; <%- date(Date.now(), 'YYYY') %> <a href="https://github.com/foreachsam/"  target="_blank"><%= config.author || config.title %></a> </p>

					<span class="theme">Powered: <a href="http://hexo.io/" target="_blank">Hexo</a>, Theme: <a href="https://github.com/foreachsam/hexo-theme-aiki" target="_blank">Aiki</a></span>
				</footer>
			</div>
		</div>
	</div>

<%- partial('_vendor/google_analytics') %>
